* {
    margin:0;
    padding:0;
}

body {
    background-color: lightgray;
}

header {
    background-color:white;
}

header h1 {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:5px;
    padding-bottom:5px;
}

span {
    color:lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

div.feed {
    padding-top:50px;
    padding-bottom:50px;
    width:600px;
    margin:auto; /* centrado en el eje x */
}

div.post {
    background-color:white;
    border-radius:3px;
    margin-bottom:50px;
}

div.post .post-title div:first-child {
    display:inline-block;
    width:80%;
}

div.post .post-title div:last-child {
    display:inline-block;
    width:18%;
    text-align:right;
    padding-right:10px;
}

div.post h2, div.post p {
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
}

.hashtag {
    font-weight: bold;
    color:#3f8efc
}

div.post img {
    width:100%;
    max-height: 600px;
}

